<div id="header-container">
  <div class="container-fluid h-100 d-flex flex-row justify-content-between align-items-center">
    <div class="text-white cursor-pointer" (click)="homePage()">Dashboard</div>
    <div class="d-flex flex-row">
      <div>
        <span [matMenuTriggerFor]="mainMenu" class="settings">
          <img  src="assets/png/settings.png" alt="settings"/>
        </span>
        <mat-menu #mainMenu="matMenu" xPosition="before" yPosition="below">

          <!-- Logout -->
          <button mat-menu-item (click)="logout()">
            <mat-icon svgIcon="log-out"></mat-icon>
            <span>Logout</span>
          </button>
          <!--/ Logout -->
        </mat-menu>

        <!-- sub menu for theme -->
        <mat-menu #themeMenu="matMenu" xPosition="before" yPosition="below">
          <button mat-menu-item (click)="changeColor('green')">Green</button>
          <button mat-menu-item (click)="changeColor('blue')">Blue</button>
        </mat-menu>
        <!--/ sub menu for theme -->

        <!-- sub menu for language -->
        <mat-menu #languageMenu="matMenu">
          <button mat-menu-item (click)="changeLanguage('en')">English</button>
          <button mat-menu-item (click)="changeLanguage('te')">Telugu</button>
          <button mat-menu-item (click)="changeLanguage('hi')">Hindi</button>
        </mat-menu>
        <!--/ sub menu for language -->
      </div>
    </div>
  </div>
</div>
